<app-navbar></app-navbar>
<mat-drawer-container class="admin-container" autosize>
    <mat-drawer #drawer class="admin-sidenav" mode="side">

      <mat-nav-list>
        <mat-list-item *ngFor="let link of links">
           <a matListItemTitle class="sidenav-link" [routerLink]="link.link" routerLinkActive="sidenav-active">{{ link.name }}</a>
        </mat-list-item>
      </mat-nav-list>

    </mat-drawer>

    <div class="admin-content">
      <button type="button" mat-icon-button class="menu-toggle" (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
      </button>
      <div class="route-container" [@routeAnimations]="prepareRoute(adminOutlet)">
          <router-outlet #adminOutlet="outlet"></router-outlet>
      </div>
    </div>

</mat-drawer-container>
