<h2 mat-dialog-title class="dialog-title">
    <mat-icon class="dialog-icon">mode_edit</mat-icon>
    Edit Post
</h2>
<mat-dialog-content class="dialog-content">
    <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Title" [(ngModel)]="data.title">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-select placeholder="Select Menu" [(ngModel)]="data.menu_id">
        <mat-option *ngFor="let menu of data.menus" [value]="menu.id">
          {{menu.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Content</mat-label>
        <textarea matInput placeholder="Content" [(ngModel)]="data.content"></textarea>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions class="dialog-actions">
    <button mat-raised-button class="confirm-btn" [mat-dialog-close]="data">Save</button>
    <button mat-raised-button class="cancel-btn" mat-dialog-close="false">Cancel</button>
</mat-dialog-actions>
